<nav class="navbar navbar-expand-lg navbar-dark navcolor">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">FanPolis</a> -->
    <img src="../../assets/imagenes/logofp.png" alt="" width="120px" class="cursorimg" routerLink="/home"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pkpage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Pokédex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coleccion" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Colección</a>
        </li>
      </ul>
      <form class="d-flex" role="search" (ngSubmit)="searchPokemon()">
        <div class="position-relative w-100">
          <input class="form-control me-2" type="search" placeholder="Buscar Pokémon" aria-label="Search"
            [(ngModel)]="searchTerm" name="searchTerm" (focus)="onFocus()" (blur)="onBlur()">
          <div *ngIf="showResults" class="search-results">
            <div *ngIf="isSearching" class="p-3 text-center">
              <span>Buscando...</span>
            </div>
            <div *ngIf="noResults && !isSearching" class="p-3 text-center">
              <span>Este Pokémon no existe</span>
            </div>
            <div *ngIf="searchResults.length > 0 && !isSearching" class="search-results-list">
              <div *ngFor="let pokemon of searchResults" class="search-result-item"
                (click)="viewPokemonDetails(pokemon.id)">
                <img [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" class="search-result-img">
                <span class="search-result-name">{{ pokemon.name | titlecase }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bbuscador">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </div>
      </form>
    </div>
  </div>
</nav>
