<div class="hero-section">

  <app-navegador></app-navegador>

  <!-- <div class="hero-container" style="background-image: url('../../assets/imagenes/rickandmorty.jpg');">
    <div class="hero-title"><img src="../../assets/imagenes/rmlogo2.png" alt=""></div>

    <div class="centrarb">
      <button class="animated-button" routerLink="/rampage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
          </path>
        </svg>
        <span class="text">Visitar</span>
        <span class="circle"></span>
        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
          </path>
        </svg>
      </button>

    </div>


  </div> -->


  <div class="hero-container" style="background-image: url('../../assets/imagenes/fpokemongood.jpg');">
    <div class="hero-title"><img src="../../assets/imagenes/pklogo.png" alt=""></div>
    <!-- <button class="hero-button">Visit</button> -->

    <div class="centrarb">
      <button class="animated-button" routerLink="/pkpage" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
          </path>
        </svg>
        <span class="text">Visitar</span>
        <span class="circle"></span>
        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
          </path>
        </svg>
      </button>

    </div>

  </div>
